<footer id="footer" class="blog-footer">
    <div class="blog-nav-enclosure">
        <div class="recents-container">
            <div class="view-info-header">
                <h2>Recently viewed</h2>
                <a href="">Clear all</a>
            </div>
            <p class="viewed-info">You have no recently viewed pages</p>

            <div class=" recents-wrapper scroll-black">
                <!-- recently viewed go here -->
            </div>
        </div>
        <div class="seperation-rule"></div>
        <div class="footer-content">
            <div class="copyright-container">
                <a href="/">
                    <img class="footer-logo" src="/logo.png" alt="what2watch">
                </a>
                <div>
                    <span class="copyright"><i class="far fa-copyright"></i></span>
                    <span>All rights reserved.</span>

                </div>
            </div>
            <div class="important-links">
                <a href="/">Home</a>
                <a href="/about-us">About Us</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/movie/upcoming">Upcoming</a>
            </div>
            <div class="socials">
                <a href="https://www.facebook.com/what2watch.net" target="_blank" class="social-icon facebook"><i
                        class="fab fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/what2watch4real/" target="_blank" class="social-icon ig"><i
                        class="fab fa-instagram"></i></a>
                <a href="mailto:what2watch4real@gmail.com" target="_blank" class="social-icon mail"><i
                        class="fas fa-envelope"></i></a>
                <a href="https://youtube.com/channel/UCR5dmDeBAwWdh-IC6dol1gA" target="_blank" class="social-icon yt"><i
                        class="fab fa-youtube"></i></a>

            </div>

        </div>
        <div class="attribution">
            <h6>Powered by</h6>
            <img src="/moviedb-logo2.svg" alt="attribution">
        </div>

    </div>

</footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>
    if (document.querySelector("#editor")) {
        ClassicEditor.create(document.querySelector("#editor"))
            .catch(error => {
                console.error(error);
            });
    }
</script>
<!-- embla -->
<script src="/embla.js"></script>
<script src="/autoplay.js"></script>
<script src="/login.js"></script>
<script src="/validate.js"></script>
<script src="/index.js"></script>
</body>

</html>