
<footer id="footer" >
    <div class="wrapper-enclosure">
        <div class="footer-content">
            <div class="copyright-container">
                <span class="copyright"><i class="far fa-copyright"></i></span>
                <a href="/">What2Watch.net</a>
                <span>All rights reserved.</span>
            </div>
            <div class="important-links">
                <a href="/">Main</a>
                <a href="/about-us">About Us</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/movie/upcoming">Upcoming</a>
            </div>
            <div class="socials">
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
    
            </div>
            
        </div>
        <div class="attribution" >
            <h6>Powered by</h6>
            <img src="/moviedb-logo2.svg" alt="attribution" >
        </div>

    </div>
    
</footer>

<script src="https://cdn.jsdelivr.net/npm/simplebar@5.3.6/dist/simplebar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- embla -->
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="/embla.js"></script>
<script src="/index.js"  ></script>
</body>
</html>