
<footer id="footer" >
    <div class="wrapper-enclosure">
        <div class="recents-container">
            <div class="view-info-header">
                <h2>Recently viewed</h2>
                <h3>Clear all</h3>
            </div>
            <p class="viewed-info">You have no recently viewed pages</p>
            <div class="embla cast-container">
                <div class="embla__viewport">
                    <div class="embla__container recents-wrapper" >
                        <!-- recently viewed go here -->
                    </div>
        
                </div>
                <button class="embla__button embla__button--prev square__btn cast__btn" type="button" style="z-index: 10;">
                    <svg
                      class="embla__button__svg"
                      viewBox="137.718 -1.001 366.563 643.999"
                    >
                      <path
                        d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z"
                      ></path>
                    </svg>
                </button>
                <button class="embla__button embla__button--next square__btn cast__btn" type="button">
                    <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                      <path
                        d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z"
                      ></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="seperation-rule"></div>
        <div class="footer-content">
            <div class="copyright-container">
                <a href="/">
                    <img class="footer-logo" src="/logo.png" alt="what2watch">
                </a>
                <div>
                    <span class="copyright"><i class="far fa-copyright"></i></span>
                    <span>All rights reserved.</span>

                </div>
            </div>
            <div class="important-links">
                <a href="/">Home</a>
                <a href="/about-us">About Us</a>
                <a href="/privacy">Privacy Policy</a>
                <a href="/movie/upcoming">Upcoming</a>
            </div>
            <div class="socials">
                <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
    
            </div>
            
        </div>
        <div class="attribution" >
            <h6>Powered by</h6>
            <img src="/moviedb-logo2.svg" alt="attribution" >
        </div>

    </div>
    
</footer>

<script src="https://cdn.jsdelivr.net/npm/simplebar@5.3.6/dist/simplebar.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- embla -->
<script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
<script src="/embla.js"></script>
<script src="/index.js"  ></script>
</body>
</html>