<%- include("partials/blogheader") %>
<section id="header-container" class="blog-header">
    <div class="small-screen-search search-bar">
        <i class="fas fa-times close-sm-search"></i>
        <form action="/search" method="GET" class="small-search-form search-form">
            <div class="small-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="small-search" placeholder="search for a movie..." name="query">
                <input type="submit" value="search" hidden>
            </div>
        </form>
    </div>

    <div class="wrapper-enclosure-blog">
        <div class="dashboard-title">
            <div>
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="dashboard-wrapper">
            <div class="dashboard-content">
                <div class="dashboard-title">
                    <div>
                        <h2>Welcome John Doe!</h2>
                        <p>Here are your stories</p>
                    </div>
                    <a href="/blog/compose" role="button" class="create-btn"><i class="fas fa-plus"></i>Create Post</a>

                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td data-label="Title">Tabi's Story</td>
                            <td data-label="Date">December 4th 2021, 12:12:18 am</td>
                            <td data-label="Status">public</td>
                            <td data-label="Action">
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="dashboard-userbio">
                <div class="profile-photo">
                    <img src="/dune.jpg" alt="">
                    <h2>John Doe</h2>
                    <h3>Editor in-chief </h3>
                    <a href="/blog/profile" role="button" class="create-btn edit-profile-btn">Edit Profile</a>
                </div>
                <div class="profile-bio">
                    <div class="profile-bio-wrapper">
                        <div>
                            <i class="fas fa-envelope"></i>
                            <h3>johndoe@gmail.com</h3>
                        </div>

                    </div>
                    <div class="profile-bio-wrapper">
                        <div>
                            <i class="fas fa-lock"></i>
                            <input type="password" id="writer-pass" value="12345678" title="password">
                        </div>
                        <i class="fas fa-eye pass-reveal"></i>
                    </div>
                    <div class="profile-bio-wrapper">
                        <div>
                            <div>
                                <i class="fas fa-user"></i>
                                <h3>About you</h3>
                            </div>
                            <p class="profile-biography">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                                veritatis et. </p>
                        </div>
                        <i class="see-bio fas fa-chevron-up"></i>
                    </div>
                    <div class="profile-bio-wrapper">
                        <div>
                            <i class="fas fa-book"></i>
                            <h3>Total Posts</h3>
                        </div>
                        <h3>(18)</h3>

                    </div>
                    <div class="profile-bio-wrapper">
                        <div>
                            <i class="fas fa-sign-out-alt"></i>
                            <a href="/blog/logout">sign-out</a>
                        </div>
                        <a href="/blog/logout"><i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>



<%- include('partials/blogfooter') %>