<%- include("partials/blogheader") %>
<section id="header-container" class="blog-header">
    <div class="small-screen-search search-bar">
        <i class="fas fa-times close-sm-search"></i>
        <form action="/search" method="GET" class="small-search-form search-form">
            <div class="small-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="small-search" placeholder="search for a movie..." name="query">
                <input type="submit" value="search" hidden>
            </div>
        </form>
    </div>

    <div class="wrapper-enclosure-blog">
        <div class="dashboard-title">
            <div>
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="dashboard-wrapper">
            <div class="dashboard-content">
                <div class="dashboard-title">
                    <div>
                        <h2>Welcome John Doe!</h2>
                        <p>Here are your stories</p>
                    </div>
                    <a href="/blog/compose" role="button" class="create-btn"><i class="fas fa-plus"></i>Create Post</a>
        
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Tabi's Story</td>
                            <td>December 4th 2021, 12:12:18 am</td>
                            <td>public</td>
                            <td>
                                <div class="dashboard-actions">
                                    <a href="#" class="edit-action"> <i class="fas fa-pencil-alt"></i> Edit</a>
                                    <a href="#"><i class="fas fa-trash"></i>Remove</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="dashboard-userbio">
                <div class="profile-photo">
                    <img src="/dune.jpg" alt="">
                    <h2>John Doe</h2>
                    <h3>Editor in-chief </h3>
                </div>
                <div class="profile-bio">
                    <div class="profile-bio-wrapper">
                        <i class="fas fa-edit"></i>
                        <h3>Personal Info</h3>
                    </div>
                    <div class="profile-bio-wrapper">
                        <i class="fas fa-edit"></i>
                        <h3>Bank Info</h3>
                    </div>
                    <div class="profile-bio-wrapper">
                        <i class="fas fa-edit"></i>
                        <h3>Email address</h3>
                    </div>
                    <div class="profile-bio-wrapper">
                        <i class="fas fa-edit"></i>
                        <h3>Change password</h3>
                    </div>
                    <div class="profile-bio-wrapper">
                        <i class="fas fa-edit"></i>
                        <h3>Total Posts</h3>
                    </div>
                    <div class="profile-bio-wrapper">
                        <i class="fas fa-edit"></i>
                        <h3>View activity</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>



<%- include('partials/blogfooter') %>