<%- include("partials/blogheader") %>

<section id="header-container" class="blog-header">
    <div class="small-screen-search search-bar">
        <i class="fas fa-times close-sm-search"></i>
        <form action="/search" method="GET" class="small-search-form search-form">
            <div class="small-search-field">
                <i class="fas fa-search"></i>
                <input type="text" class="small-search" placeholder="search for a movie..." name="query">
                <input type="submit" value="search" hidden>
            </div>
        </form>
    </div>
    <div class="wrapper-enclosure-blog">
        <div class="blog-body-wrapper">
            <div id="long" class="blog-body-content">
                <div class="post post-header">
                    <img src="/dune.jpg" alt="post-image">
                    <h5 class="cat-name"><span class="left-span">Featured</span> <span>Movie</span></h5>
                    <h3 class="single-post-title">How tom Cruise performed his brilliant stunts in top gun 2</h3>
                    <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                </div>
                <div class="post-content">
                    <p>Lommodo ligula eget dolor. Aenean massa. Cum sociis que penatibus et magnis dis parturient montes
                        lorem, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,
                        sem. Nulla onsequat massa quis enim. Donec pede justo fringilla vel aliquet nec vulputate eget.
                        Lorem ispum dolore siamet ipsum dolor.</p>
                    <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis
                        est eligendi optio cumquer nihil impedit quo minus id quod maxime placeat facere.</p>
                    <h2>BE THE CHANGE YOU WANT TO SEE IN THE WORLD</h2>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
                        ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                        incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
                        nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                        consequatur reprehenderit qui in ea voluptate velit esse quam nihil.</p>
                    <div class="quote">
                        <p>You will never be happy if you continue to search for what happiness consists of. You will
                            never live if you are looking for the meaning of life.
                        </p>
                        <h4>Albert Camus</h4>
                    </div>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
                        imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer
                        tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                        leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                    </p>
                    <h2>BE THE CHANGE YOU WANT TO SEE IN THE WORLD</h2>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                        quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                        voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.
                        Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
                    <p>Rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                        Integer cidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus
                    </p>

                </div>
                <div class="post-author-bio">
                    <img src="/dune.jpg" alt="post-author">
                    <div class="post-author-details">
                        <h4>Jone Doe</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.
                        </p>
                    </div>
                </div>
                <div class="older-posts">
                    <h1 class="cat-title">Related Posts</h1>
                    <div class="older-posts-inner">
                        <div class="embla old-posts-embla">
                            <div class="embla__viewport">
                                <div class="embla__container">
                                    <div class="embla__slide">
                                        <div class="embla__slide__inner slider-inner-card featured-card">
                                            <div class="post">
                                                <img src="/dune.jpg" alt="post image">
                                                <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                                </h3>
                                                <h5 class="date"> <span>by John Doe</span> <span>July 11,
                                                        2021</span> </h5>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="embla__slide">
                                        <div class="embla__slide__inner slider-inner-card featured-card">
                                            <div class="post">
                                                <img src="/dune.jpg" alt="post image">
                                                <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                                </h3>
                                                <h5 class="date"> <span>by John Doe</span> <span>July 11,
                                                        2021</span> </h5>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="embla__slide">
                                        <div class="embla__slide__inner slider-inner-card featured-card">
                                            <div class="post">
                                                <img src="/dune.jpg" alt="post image">
                                                <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                                </h3>
                                                <h5 class="date"> <span>by John Doe</span> <span>July 11,
                                                        2021</span> </h5>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="embla__slide">
                                        <div class="embla__slide__inner slider-inner-card featured-card">
                                            <div class="post">
                                                <img src="/dune.jpg" alt="post image">
                                                <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                                </h3>
                                                <h5 class="date"> <span>by John Doe</span> <span>July 11,
                                                        2021</span> </h5>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="embla__slide">
                                        <div class="embla__slide__inner slider-inner-card featured-card">
                                            <div class="post">
                                                <img src="/dune.jpg" alt="post image">
                                                <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                                </h3>
                                                <h5 class="date"> <span>by John Doe</span> <span>July 11,
                                                        2021</span> </h5>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="embla__slide">
                                        <div class="embla__slide__inner slider-inner-card featured-card">
                                            <div class="post">
                                                <img src="/dune.jpg" alt="post image">
                                                <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                                </h3>
                                                <h5 class="date"> <span>by John Doe</span> <span>July 11,
                                                        2021</span> </h5>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="embla__slide">
                                        <div class="embla__slide__inner slider-inner-card featured-card">
                                            <div class="post">
                                                <img src="/dune.jpg" alt="post image">
                                                <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                                </h3>
                                                <h5 class="date"> <span>by John Doe</span> <span>July 11,
                                                        2021</span> </h5>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <button class="embla__button embla__button--prev square__btn old-embla-btn" type="button">
                                <svg class="embla__button__svg" viewBox="137.718 -1.001 366.563 643.999">
                                    <path
                                        d="M428.36 12.5c16.67-16.67 43.76-16.67 60.42 0 16.67 16.67 16.67 43.76 0 60.42L241.7 320c148.25 148.24 230.61 230.6 247.08 247.08 16.67 16.66 16.67 43.75 0 60.42-16.67 16.66-43.76 16.67-60.42 0-27.72-27.71-249.45-249.37-277.16-277.08a42.308 42.308 0 0 1-12.48-30.34c0-11.1 4.1-22.05 12.48-30.42C206.63 234.23 400.64 40.21 428.36 12.5z">
                                    </path>
                                </svg>
                            </button>
                            <button class="embla__button embla__button--next square__btn old-embla-btn" type="button">
                                <svg class="embla__button__svg" viewBox="0 0 238.003 238.003">
                                    <path
                                        d="M181.776 107.719L78.705 4.648c-6.198-6.198-16.273-6.198-22.47 0s-6.198 16.273 0 22.47l91.883 91.883-91.883 91.883c-6.198 6.198-6.198 16.273 0 22.47s16.273 6.198 22.47 0l103.071-103.039a15.741 15.741 0 0 0 4.64-11.283c0-4.13-1.526-8.199-4.64-11.313z">
                                    </path>
                                </svg>
                            </button>


                        </div>

                    </div>
                </div>


            </div>
            <div id="short" class="blog-body-bio">
                <h1 class="cat-title">About Us</h1>
                <div class="writer-bio-wrapper">
                    <img src="/author-img.jpg" alt="author-image">
                    <div class="writer-bio-content">
                        <h4>Get to Know us</h4>
                        <p>Welcome to what2watch.net, your number one source for all things movies. We're dedicated
                            to providing you the very best of movies, with an emphasis on excellent user interface
                            and experience...</p>
                        <a class="read-more" href="/about-us">Read more <i class="fas fa-angle-double-right"></i></a>
                    </div>

                </div>
                <div class="blog-social">
                    <h1 class="cat-title">Keep in touch</h1>
                    <div class="blog-social-inner">
                        <a href="https://www.facebook.com/what2watch.net" target="_blank" class="blog-social-link"><i
                                class="fab fa-facebook-f"></i> Facebook</a>
                        <a href="https://www.instagram.com/what2watch4real/" target="_blank" class="blog-social-link"><i
                                class="fab fa-instagram"></i>Instagram</a>
                        <a href="mailto:what2watch4real@gmail.com" target="_blank" class="blog-social-link"><i
                                class="fas fa-envelope"></i>G-mail</a>
                        <a href="https://youtube.com/channel/UCR5dmDeBAwWdh-IC6dol1gA" target="_blank"
                            class="blog-social-link"><i class="fab fa-youtube"></i>Youtube</a>
                    </div>
                </div>
                <div class="cats">
                    <h1 class="cat-title">Categories</h1>
                    <div class="post-cat-container">
                        <ul>
                            <li><a href="#">Movies</a><span>(8)</span></li>
                            <li><a href="#">Tv Shows</a><span>(5)</span></li>
                            <li><a href="#">Action Movies</a><span>(9)</span></li>
                            <li><a href="#">Latest Posts</a><span>(6)</span></li>
                            <li><a href="#">Editor's picks</a><span>(4)</span></li>
                            <li><a href="#">Older posts</a><span>(2)</span></li>
                        </ul>

                    </div>
                </div>
                <div>
                    <div class="instagram-page">
                        <h1 class="cat-title">Recent Posts</h1>
                        <div class="ig-cards recent-posts-cards">
                            <a href="#">
                                <div class="post">
                                    <img src="/dune.jpg" alt="">
                                    <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                    </h3>
                                    <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                </div>
                            </a>
                            <a href="#">
                                <div class="post">
                                    <img src="/dune.jpg" alt="">
                                    <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                    </h3>
                                    <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                </div>
                            </a>
                            <a href="#">
                                <div class="post">
                                    <img src="/dune.jpg" alt="">
                                    <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                    </h3>
                                    <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                </div>
                            </a>
                            <a href="#">
                                <div class="post">
                                    <img src="/dune.jpg" alt="">
                                    <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                    </h3>
                                    <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                </div>
                            </a>
                            <a href="#">
                                <div class="post">
                                    <img src="/dune.jpg" alt="">
                                    <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                    </h3>
                                    <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                </div>
                            </a>
                            <a href="#">
                                <div class="post">
                                    <img src="/dune.jpg" alt="">
                                    <h3>How tom Cruise performed his brilliant stunts in top gun 2
                                    </h3>
                                    <h5 class="date"> <span>by John Doe</span> <span>July 11, 2021</span> </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="facebook-page">
                        <h1 class="cat-title">Facebook Feed</h1>
                        <div class="facebook-feed" style="width:100% ;">
                            <div class="fb-page" data-href="https://www.facebook.com/what2watch.net"
                                data-tabs="timeline" data-width="700px" data-height="550px" data-small-header="true"
                                data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                <blockquote cite="https://www.facebook.com/what2watch.net"
                                    class="fb-xfbml-parse-ignore"><a
                                        href="https://www.facebook.com/what2watch.net">What2Watch.Net</a></blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="instagram-page">
                        <h1 class="cat-title">On Instagram</h1>
                        <div class="ig-cards">
                            <a href="#">
                                <img src="/author-img.jpg" alt="">   
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                            <a href="#">
                                <img src="/author-img.jpg" alt="">
                            </a>
                        </div>
                    </div>


                </div>



            </div>
        </div>
        <div class="news-letter">
            <div class="new-letter-wrapper">
                <i class="fas fa-paper-plane"></i>
                <h1>News Letter Sign-up</h1>
                <p>Subscribe to our news letter for latest on movies/tv shows. Let's stay updated!</p>
                <form action="">
                    <div class="news-letter-inner">
                        <input type="text" placeholder="Enter Your Email Address">
                        <button type="submit" class="send-btn">Subscribe Now</button>
                    </div>
                </form>
            </div>
        </div>


    </div>

</section>







<%- include('partials/blogfooter') %>